__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

.venv/
venv/

*.db

.idea/
.pytest_cache/
build/
dist/
*.egg-info/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

datasource/*.xlsx
!datasource/daily_update_template.xlsx
